Package: bodhi-theme-moksha-pink
Version: 0.3.6-3
Section: misc
Priority: optional
Depends: moksha
Architecture: all
Maintainer: Robert Wiley <ylee@bodhilinux.com>
Description: Pink Moksha Theme
 Moksha Theme for the Bodhi desktop
