Package: bodhi-theme-moksha-kl4k
Version: 0.3.8-5
Section: misc
Priority: optional
Depends: moksha
Architecture: all
Maintainer: Robert Wiley <ylee@bodhilinux.com>
Description: Bodhi KL4K Theme for Moksha
 A Flat Dark Moksha Theme
