Package: bodhi-theme-moksha-crema
Version: 0.10.0-3
Section: misc
Priority: optional
Depends: moksha, gtk2-engines-murrine (>=0.98)
Architecture: all
Maintainer: Robert Wiley <ylee@bodhilinux.com>
Description: Colored Moksha Coffee Theme
 Moksha Theme for the Bodhi desktop
