Package: bodhi-theme-moksha-crema
Version: 0.10.0-5
Section: misc
Priority: optional
Depends: gtk2-engines-murrine (>=0.98)
Recommends: moksha
Architecture: all
Maintainer: Robert Wiley <ylee@bodhilinux.com>
Description: Colored Moksha Coffee Theme
 Moksha Theme for the Bodhi desktop
