Package: bodhi-theme-moksha-passion
Version: 2.6.5
Section: misc
Priority: optional
Depends: moksha, gtk2-engines-murrine (>=0.98)
Architecture: all
Maintainer: Robert Wiley <ylee@bodhilinux.com>
Description: RedPassion Moksha Theme
 Moksha Theme for the Bodhi desktop
