Package: bodhi-theme-moksha-seven
Version: 0.3.1
Section: misc
Priority: optional
Depends: moksha
Architecture: all
Maintainer: Jeff Hoogland <Jeff@bodhilinux.com>
Description: Windows 7 Moksha Theme
 Moksha Theme for the Bodhi desktop
