Package: bodhi-theme-moksha-japan
Version: 0.4.0-6
Section: misc
Priority: optional
Recommends: moksha
Architecture: all
Maintainer: Robert Wiley <ylee@bodhilinux.com>
Description: Japanese based Moksha Theme
 Moksha Theme for the Bodhi desktop
