Package: bodhi-theme-moksha-radiance
Version: 0.20.9
Section: misc
Priority: optional
Depends: moksha, light-themes
Architecture: all
Maintainer: Robert Wiley <ylee@bodhilinux.com>
Description: Graphite Colored Moksha Theme
 Moksha Theme for the Bodhi desktop
