Package: bodhi-theme-moksha-radiance
Version: 0.21.0-8
Section: misc
Priority: optional
Recommends: moksha
Architecture: all
Maintainer: Robert Wiley <ylee@bodhilinux.com>
Description: Graphite Colored Moksha Theme
 Moksha Theme for the Bodhi desktop
 .
 Originally by Alberto 'Duma' Verdoja, maintained by Bodhi.
