Package: bodhi-theme-moksha-e17gtk
Version: 0.2
Section: misc
Priority: optional
Recommends: moksha
Architecture: all
Maintainer: Robert Wiley <ylee@bodhilinux.com>
Description: GTK theme set for E/Moksha desktop
 E/Moksha GTK Theme for the Bodhi desktop
