Package: bodhi-theme-moksha-sunshine
Version: 0.9.7
Section: misc
Priority: optional
Depends: moksha, gtk2-engines-murrine (>=0.98)
Architecture: all
Maintainer: Robert Wiley <ylee@bodhilinux.com>
Description: Sunshine Moksha Theme
 Moksha Theme for the Bodhi desktop
