Package: bodhi-theme-moksha-forum
Version: 0.7.3.5
Section: misc
Priority: optional
Depends: moksha, libgtk-3-0 (>=3.16), gtk2-engines-murrine
Architecture: all
Maintainer: Robert Wiley <ylee@bodhilinux.com>
Description: Bodhi Forum Theme for Moksha
 Moksha theme designed for the Bodhi Desktop
