Package: bodhi-theme-moksha-viceversa
Version: 0.1.1
Section: misc
Priority: optional
Depends: moksha, gnome-icon-theme
Architecture: all
Maintainer: Robert Wiley <ylee@bodhilinux.com>
Description: Brown Colored Moksha Theme
 Moksha Theme for the Bodhi desktop
