Package: bodhi-theme-moksha-blueelectric
Version: 0.5.6
Section: misc
Priority: optional
Depends: moksha
Architecture: all
Maintainer: Robert Wiley <ylee@bodhilinux.com>
Description: Blue Colored Moksha Theme
 Moksha Theme for the Bodhi desktop
