Package: bodhi-theme-moksha-arc-green
Version: 0.4.6
Section: misc
Priority: optional
Depends: moksha,  gnome-themes-extra | gnome-themes-standard, gtk2-engines-murrine, gtk2-engines-pixbuf
Architecture: all
Maintainer: Robert Wiley <ylee@bodhilinux.com>
Description: Arc Green Moksha Theme
 Moksha Theme for the Bodhi desktop
