Package: bodhi-theme-moksha-arc-green
Version: 0.4.15-4
Section: misc
Priority: optional
Depends: moksha, gtk2-engines-murrine, gtk2-engines-pixbuf
Recommends: gnome-themes-standard
Architecture: all
Maintainer: Robert Wiley <ylee@bodhilinux.com>
Description: Arc Green Moksha Theme
 Moksha Theme for the Bodhi desktop
