Package: bodhi-theme-moksha-wood-grey
Version: 0.0.1
Section: misc
Priority: optional
Depends: moksha, libgtk-3-0 (>=3.16), gtk2-engines-murrine
Architecture: all
Maintainer: Stefan Uram <thewaiter@centrum.sk>
Description: Wood Grey Moksha Theme
 Moksha Theme for the Bodhi desktop
