Package: bodhi-theme-moksha-arc-dark
Version: 0.7.1
Section: misc
Priority: optional
Depends: moksha,  arc-theme
Architecture: all
Maintainer: Jeff Hoogland <Jeff@bodhilinux.com>
Description: Arc Moksha Theme
 Moksha Theme for the Bodhi desktop
