Package: bodhi-theme-moksha-arc-green
Version: 0.3.8
Section: misc
Priority: optional
Depends: moksha,  gnome-themes-extra | gnome-themes-standard, gtk2-engines-murrine, gtk2-engines-pixbuf
Architecture: all
Maintainer: Jeff Hoogland <Jeff@bodhilinux.com>
Description: Arc Green Moksha Theme
 Moksha Theme for the Bodhi desktop
