Package: bodhi-theme-moksha-arc-dark
Version: 0.8.7
Section: misc
Priority: optional
Depends: arc-theme,  gnome-themes-extra | gnome-themes-standard, gtk2-engines-murrine, gtk2-engines-pixbuf
Recommends: moksha
Architecture: all
Maintainer: Robert Wiley <ylee@bodhilinux.com>
Description: Arc Dark Moksha Theme
 Moksha Theme for the Bodhi desktop
