GtkIconView.view.cell:selected,
GtkIconView.view.cell:selected:focused {
    background-color: alpha(#473E3E, 0.0);

    border-style: solid;
    border-radius: 10px;
    border-width: 3px;
    border-color: #D3D7CF;

}

.entry:insensitive {
    background-image: none;
}
