Package: bodhi-theme-moksha-ice
Version: 0.0.1-8
Section: misc
Priority: optional
Depends: gtk2-engines-murrine, gtk2-engines-pixbuf,  hicolor-icon-theme
Recommends: gnome-themes-standard, faenza-icon-theme, moksha
Suggests: mint-x-icons
Architecture: all
Maintainer: Robert Wiley <ylee@bodhilinux.com>
Description: Ice Moksha Theme
 Simotek's Ice Theme ported to Moksha.
 .
 Simon "Simotek" Lees enlightement themes are based loosely on the work of 
 rElighted e18 theme.
