#=========================================================
# Tooltips
#=========================================================
style "tooltip"		= "default"
{
	
	fg[NORMAL] = @tooltip_fg_color alpha
	
	bg[NORMAL] = @tooltip_bg_color alpha
	bg[SELECTED] = darker(@tooltip_bg_color alpha)
	bg[ACTIVE] = darker(@tooltip_bg_color alpha)


	
	engine "pixmap"
        {
	image
	 {
		function	= FLAT_BOX
		recolorable	= TRUE
		file	        = "Panel/tooltip.png"
		border          = {3, 3, 3, 3}
		stretch	        = TRUE
	 }
        }
}

widget "gtk-tooltips"  			style "tooltip"
