style "panel"
{
	xthickness = 0
	ythickness = 4

	GtkWidget::focus_padding = 0

	fg[NORMAL]	= shade (0.90, @fg_color alpha)
	fg[PRELIGHT]	= shade (0.90, @fg_color alpha)

	engine "pixmap" {

		image
		{
			function	= BOX
			recolorable	= TRUE
			state		= NORMAL
			file		= "Panel/panelbutton1.png"
			border		= { 5, 5, 5, 5 }
			stretch		= TRUE
		}

		image
		{
			function	= BOX
			recolorable	= TRUE
			state		= PRELIGHT
			file		= "Panel/panelbutton2.png"
			border		= { 5, 5, 5, 5 }
			stretch		= TRUE
		}

		image
		{
			function	= BOX
			recolorable	= TRUE
			shadow		= OUT
			state		= PRELIGHT
			file		= "Panel/panelbutton2.png"
			border		= { 5, 5, 5, 5 }
			stretch		= TRUE
		}

		image
		{
			function	= BOX
			recolorable	= TRUE
			shadow		= IN
			state		= PRELIGHT
			file		= "Panel/panelbutton2.png"
			border		= { 5, 5, 5, 5 }
			stretch		= TRUE
		}

		image
		{
			function	= BOX
			recolorable	= TRUE
			state		= ACTIVE
			file		= "Panel/panelbutton3.png"
			border		= { 5, 5, 5, 5 }
			stretch		= TRUE
		}

		image
		{
			function	= BOX
			recolorable	= TRUE
			state		= INSENSITIVE
			file		= "Panel/panelbutton1.png"
			border		= { 5, 5, 5, 5 }
			stretch		= TRUE
		}
		image
		{
			function	= HANDLE
			recolorable	= TRUE
			overlay_file	= "Panel/panel_handle-v.png"
			overlay_stretch	= FALSE
			orientation	= VERTICAL
		}
		image
		{
			function	= HANDLE
			overlay_file	= "Panel/panel_handle-h.png"
			overlay_stretch	= FALSE
			orientation	= HORIZONTAL
		}


	}

}


