Package: bodhi-theme-moksha-moonlight
Version: 0.10.3
Section: misc
Priority: optional
Depends: moksha, gtk2-engines-murrine (>=0.98)
Architecture: all
Maintainer: Jeff Hoogland <Jeff@bodhilinux.com>
Description: Moonlight Moksha Theme
 Moksha Theme for the Bodhi desktop
