Source: bodhi-theme-moksha-moonlight
Section: misc
Priority: optional
Maintainer: Robert Wiley <ylee@bodhilinux.com>
Homepage: https://github.com/thewaiter/MokshaMoonlight
Build-Depends:  debhelper (>= 9), dh-autoreconf, meson, moksha
Standards-Version: 4.1.4

Package: bodhi-theme-moksha-moonlight
Architecture: all
Section: misc
Priority: optional
Depends: moksha, gtk2-engines-murrine (>=0.98), hicolor-icon-theme, fonts-dejavu-core
Suggests: ubuntu-mono, breeze-icon-theme, gnome-icon-theme, oxygen-icon-theme, fonts-dejavu-extra, fonts-inconsolata,  fonts-roboto
Description: Moonlight Moksha Theme
 Moksha Theme for the Bodhi desktop
 .
 Moksha-moonlight is a port of the OpenGEU Quarto di Luna Theme, updated
 originally by Alberto "Duma" Verdoja.
