Package: bodhi-theme-moksha-detour
Version: 0.11.9
Section: misc
Priority: optional
Depends: moksha, gtk2-engines-murrine (>=0.98)
Architecture: all
Maintainer: Robert Wiley <ylee@bodhilinux.com>
Description: Grey-Blue Colored Moksha Theme
 Moksha Theme for the Bodhi desktop
